/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-infinite-uploads-video {
  box-sizing: border-box;
  position: relative;
  text-align: left;
  color: #1e1e1e;
  -moz-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #1e1e1e;
  outline: 1px solid transparent;

  @import '../../../node_modules/@uppy/core/dist/style';
  @import '../../../node_modules/@uppy/drag-drop/dist/style';
  @import '../../../node_modules/@uppy/status-bar/dist/style';

  .placeholder-wrapper {
    width: 100%;
  }

  .uppy-wrapper {
    margin-bottom: 1em;
  }

  .uppy-StatusBar-progress {
    height: 1em;
    background-color: var(--wp-admin-theme-color);
  }

  .uppy-StatusBar::before {
    height: 1em;
  }

  .uppy-StatusBar-content {
    margin-top: 1em;
  }

  .uppy-StatusBar-actions {
    margin-top: 1em;
  }

  .uppy-DragDrop-inner {
    padding: 40px 20px;
  }

  .uppy-DragDrop-arrow {
    width: 40px;
    height: 40px;
  }

  .ratio-16-9-outer {
    position: relative;
    width: 100%;
    overflow: hidden;

    &:before {
      content: '';
      display: block;
      padding-top: calc(9 / 16) * 100%;
    }

    > .ratio-16-9-inner {
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-color: #000000;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .ratio-16-9-content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 1.5em;
    }

  }

  .iup-video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0;
    background: none;
  }
}

